In [1]:
import numpy as np
import pandas as pd

In [2]:
# what about primes?

In [3]:
def my_function(x, y):
    y_out = (y**2) + y
    x_out = (x**3) - (x**2)

    return y_out, x_out

In [4]:
def prime_check(x):
    is_prime = 1
    for ii in range(2, int(np.ceil(np.sqrt(x))) + 1):        
        if x % ii == 0:
            is_prime = 0
            break
    return is_prime

In [5]:
prime_list = [2]
for ii in range(3, 100):
    if prime_check(ii) == 1:
        prime_list.append(ii)

In [17]:
# end point
#ep = 100
sol_list = []
prime_list = [13]
for mp in prime_list:    
    for ii in range(0, mp):
        for jj in range(0, mp):
            x_out, y_out = my_function(ii, jj)            
            if x_out % mp == 0 and y_out % mp == 0:
                print([mp, ii, jj, x_out, y_out])
                sol_list.append([mp, ii, jj, x_out, y_out])

[13, 0, 0, 0, 0]
[13, 0, 12, 156, 0]
[13, 1, 0, 0, 0]
[13, 1, 12, 156, 0]

In [7]:
df = pd.DataFrame(data = sol_list, columns = ['prime', 'x', 'y', 'x_out', 'y_out'])

In [8]:
df.shape

(100, 5)

In [9]:
df.head()

   prime  x  y  x_out  y_out
0      2  0  0      0      0
1      2  0  1      2      0
2      2  1  0      0      0
3      2  1  1      2      0
4      3  0  0      0      0

In [10]:
e_writer = pd.ExcelWriter('check_the_equation.xlsx')

In [11]:
df.to_excel(e_writer, sheet_name = 'sols', index = False)

In [12]:
df_agg = df['prime'].groupby(df['prime']).agg(np.size).to_frame(name = 'n_sols').reset_index()

In [13]:
df_agg.head()

   prime  n_sols
0      2       4
1      3       4
2      5       4
3      7       4
4     11       4

In [14]:
df_agg.to_excel(e_writer, sheet_name = 'sol_count', index = False)

In [15]:
e_writer.close()