# Mike Babb
# babb.mike@outlook.com
# Find anagrams
## Part 10: Create the count of parent / child words by word - not just word group

In [4]:
# standard
from collections import Counter
import os
import sqlite3

In [5]:
# external
import pandas as pd

In [6]:
# custom
import _run_constants as rc
from part_00_file_db_utils import query_db, write_data_to_sqlite

# Libraries

In [7]:
db_path_name = os.path.join(rc.db_path, rc.db_name)

In [8]:
# break up the sql calls into batches of 1000 word groups
cuts = list(range(0, 217001, 1000))

In [9]:
# the from word id df
sql = 'select word_group_id, word_id from words;'
fw_df = query_db(sql = sql, db_path=rc.db_path, db_name=rc.db_name)
fw_df.columns = ['from_word_group_id', 'from_word_id']

# the to word id df
sql = 'select word_group_id, word_id from words;'
tw_df = query_db(sql = sql, db_path=rc.db_path, db_name=rc.db_name)
tw_df.columns = ['to_word_group_id', 'to_word_id']

...query execution took: 0.77 seconds...
...query execution took: 0.49 seconds...

In [10]:
# counters
to_word_counter = Counter()
from_word_counter = Counter()
# enumerate the cuts, send to the SQLiteDB, get the data, and aggregate
for i_c, ii in enumerate(cuts[:-1]):
    print('#### TO WORDS')
    # to words
    sql = f'select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= {ii} and to_word_group_id < {cuts[i_c+ 1]};'
    
    print(sql)
    wg_df = query_db(sql = sql, db_path=rc.db_path, db_name=rc.db_name)
    print(wg_df.shape)
    # exapnd the from words
    wg_df = pd.merge(left = wg_df, right = fw_df)
    # expand the to words
    wg_df = pd.merge(left = wg_df, right = tw_df)
    
    wg_df = wg_df.drop_duplicates()
    print(wg_df.shape)    

    # count - and this is where it gets counter intuitive.
    # The to word counts are counts of from-to word pairs
    from_word_counter.update(wg_df['to_word_id'])

    print('#### FROM WORDS')
    # from words
    sql = f'select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= {ii} and from_word_group_id < {cuts[i_c+ 1]};'
    print(sql)
    wg_df = query_db(sql = sql, db_path=rc.db_path, db_name=rc.db_name)
    print(wg_df.shape)
    wg_df = pd.merge(left = wg_df, right = fw_df)
    wg_df = pd.merge(left = wg_df, right = tw_df)
    

    wg_df = wg_df.drop_duplicates()
    print(wg_df.shape)

    # count each word id to get th
    # the from word counts is the from-to-wrd pairs
    to_word_counter.update(wg_df['from_word_id'])

#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 0 and to_word_group_id < 1000;
...query execution took: 2.2 seconds...
(646189, 2)
(1154202, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 0 and from_word_group_id < 1000;
...query execution took: 9.74 seconds...
(252892, 2)
(454071, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 1000 and to_word_group_id < 2000;
...query execution took: 2.04 seconds...
(665626, 2)
(1588634, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 1000 and from_word_group_id < 2000;
...query execution took: 7.9 seconds...
(366055, 2)
(661428, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 2000 and to_word_group_id < 3000;
...query execution took: 1.94 seconds...
(595611, 2)
(1397894, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 2000 and from_word_group_id < 3000;
...query execution took: 5.44 seconds...
(302877, 2)
(559882, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 3000 and to_word_group_id < 4000;
...query execution took: 1.49 seconds...
(504168, 2)
(1149394, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 3000 and from_word_group_id < 4000;
...query execution took: 4.36 seconds...
(255081, 2)
(474638, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 4000 and to_word_group_id < 5000;
...query execution took: 4.64 seconds...
(1526068, 2)
(3924060, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 4000 and from_word_group_id < 5000;
...query execution took: 3.06 seconds...
(190795, 2)
(383332, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 5000 and to_word_group_id < 6000;
...query execution took: 2.87 seconds...
(883556, 2)
(2183654, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 5000 and from_word_group_id < 6000;
...query execution took: 3.86 seconds...
(239754, 2)
(475491, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 6000 and to_word_group_id < 7000;
...query execution took: 1.91 seconds...
(582289, 2)
(1582367, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 6000 and from_word_group_id < 7000;
...query execution took: 4.49 seconds...
(286861, 2)
(516015, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 7000 and to_word_group_id < 8000;
...query execution took: 1.34 seconds...
(445261, 2)
(994335, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 7000 and from_word_group_id < 8000;
...query execution took: 5.63 seconds...
(352378, 2)
(637486, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 8000 and to_word_group_id < 9000;
...query execution took: 2.0 seconds...
(648118, 2)
(1525390, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 8000 and from_word_group_id < 9000;
...query execution took: 5.39 seconds...
(353121, 2)
(648060, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 9000 and to_word_group_id < 10000;
...query execution took: 0.41 seconds...
(149114, 2)
(464754, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 9000 and from_word_group_id < 10000;
...query execution took: 10.24 seconds...
(654178, 2)
(1111870, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 10000 and to_word_group_id < 11000;
...query execution took: 1.55 seconds...
(508903, 2)
(1051838, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 10000 and from_word_group_id < 11000;
...query execution took: 6.96 seconds...
(453263, 2)
(820554, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 11000 and to_word_group_id < 12000;
...query execution took: 1.51 seconds...
(506070, 2)
(983780, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 11000 and from_word_group_id < 12000;
...query execution took: 4.27 seconds...
(279456, 2)
(486512, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 12000 and to_word_group_id < 13000;
...query execution took: 2.58 seconds...
(866391, 2)
(2456262, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 12000 and from_word_group_id < 13000;
...query execution took: 7.74 seconds...
(389034, 2)
(704610, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 13000 and to_word_group_id < 14000;
...query execution took: 2.57 seconds...
(857145, 2)
(2197506, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 13000 and from_word_group_id < 14000;
...query execution took: 4.57 seconds...
(265618, 2)
(511942, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 14000 and to_word_group_id < 15000;
...query execution took: 2.68 seconds...
(846078, 2)
(2250541, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 14000 and from_word_group_id < 15000;
...query execution took: 4.53 seconds...
(289696, 2)
(553774, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 15000 and to_word_group_id < 16000;
...query execution took: 1.01 seconds...
(353272, 2)
(511298, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 15000 and from_word_group_id < 16000;
...query execution took: 6.21 seconds...
(408133, 2)
(650424, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 16000 and to_word_group_id < 17000;
...query execution took: 0.89 seconds...
(302501, 2)
(511115, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 16000 and from_word_group_id < 17000;
...query execution took: 3.13 seconds...
(219353, 2)
(373367, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 17000 and to_word_group_id < 18000;
...query execution took: 0.96 seconds...
(341290, 2)
(663122, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 17000 and from_word_group_id < 18000;
...query execution took: 2.26 seconds...
(163901, 2)
(310160, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 18000 and to_word_group_id < 19000;
...query execution took: 0.78 seconds...
(283877, 2)
(497069, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 18000 and from_word_group_id < 19000;
...query execution took: 3.38 seconds...
(212590, 2)
(386948, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 19000 and to_word_group_id < 20000;
...query execution took: 0.81 seconds...
(270870, 2)
(440005, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 19000 and from_word_group_id < 20000;
...query execution took: 2.01 seconds...
(127365, 2)
(221442, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 20000 and to_word_group_id < 21000;
...query execution took: 0.94 seconds...
(258569, 2)
(398962, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 20000 and from_word_group_id < 21000;
...query execution took: 2.59 seconds...
(168314, 2)
(291382, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 21000 and to_word_group_id < 22000;
...query execution took: 0.67 seconds...
(239651, 2)
(360073, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 21000 and from_word_group_id < 22000;
...query execution took: 3.01 seconds...
(204952, 2)
(348987, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 22000 and to_word_group_id < 23000;
...query execution took: 0.61 seconds...
(218834, 2)
(328157, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 22000 and from_word_group_id < 23000;
...query execution took: 4.89 seconds...
(341487, 2)
(564181, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 23000 and to_word_group_id < 24000;
...query execution took: 0.97 seconds...
(338532, 2)
(551378, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 23000 and from_word_group_id < 24000;
...query execution took: 3.02 seconds...
(144343, 2)
(253398, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 24000 and to_word_group_id < 25000;
...query execution took: 0.45 seconds...
(122054, 2)
(158919, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 24000 and from_word_group_id < 25000;
...query execution took: 5.5 seconds...
(311797, 2)
(525987, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 25000 and to_word_group_id < 26000;
...query execution took: 0.4 seconds...
(138281, 2)
(205578, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 25000 and from_word_group_id < 26000;
...query execution took: 3.73 seconds...
(220458, 2)
(368132, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 26000 and to_word_group_id < 27000;
...query execution took: 1.19 seconds...
(391257, 2)
(528125, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 26000 and from_word_group_id < 27000;
...query execution took: 2.21 seconds...
(144126, 2)
(235691, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 27000 and to_word_group_id < 28000;
...query execution took: 1.39 seconds...
(465002, 2)
(821476, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 27000 and from_word_group_id < 28000;
...query execution took: 4.29 seconds...
(245454, 2)
(442550, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 28000 and to_word_group_id < 29000;
...query execution took: 1.56 seconds...
(514859, 2)
(980618, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 28000 and from_word_group_id < 29000;
...query execution took: 4.36 seconds...
(258197, 2)
(467302, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 29000 and to_word_group_id < 30000;
...query execution took: 1.59 seconds...
(499913, 2)
(1012483, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 29000 and from_word_group_id < 30000;
...query execution took: 4.56 seconds...
(279562, 2)
(508132, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 30000 and to_word_group_id < 31000;
...query execution took: 1.83 seconds...
(590580, 2)
(867736, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 30000 and from_word_group_id < 31000;
...query execution took: 4.94 seconds...
(305163, 2)
(550504, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 31000 and to_word_group_id < 32000;
...query execution took: 1.52 seconds...
(494281, 2)
(942586, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 31000 and from_word_group_id < 32000;
...query execution took: 6.29 seconds...
(379810, 2)
(682653, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 32000 and to_word_group_id < 33000;
...query execution took: 1.06 seconds...
(353167, 2)
(628246, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 32000 and from_word_group_id < 33000;
...query execution took: 4.08 seconds...
(258506, 2)
(444416, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 33000 and to_word_group_id < 34000;
...query execution took: 1.06 seconds...
(325923, 2)
(546897, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 33000 and from_word_group_id < 34000;
...query execution took: 8.3 seconds...
(502743, 2)
(825318, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 34000 and to_word_group_id < 35000;
...query execution took: 1.06 seconds...
(340552, 2)
(565519, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 34000 and from_word_group_id < 35000;
...query execution took: 6.4 seconds...
(396614, 2)
(639447, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 35000 and to_word_group_id < 36000;
...query execution took: 1.91 seconds...
(619112, 2)
(1045231, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 35000 and from_word_group_id < 36000;
...query execution took: 4.13 seconds...
(230135, 2)
(411263, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 36000 and to_word_group_id < 37000;
...query execution took: 1.01 seconds...
(353431, 2)
(469047, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 36000 and from_word_group_id < 37000;
...query execution took: 3.74 seconds...
(231462, 2)
(380975, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 37000 and to_word_group_id < 38000;
...query execution took: 1.2 seconds...
(384772, 2)
(557049, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 37000 and from_word_group_id < 38000;
...query execution took: 4.22 seconds...
(262803, 2)
(446139, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 38000 and to_word_group_id < 39000;
...query execution took: 0.36 seconds...
(127017, 2)
(143887, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 38000 and from_word_group_id < 39000;
...query execution took: 7.4 seconds...
(469644, 2)
(760069, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 39000 and to_word_group_id < 40000;
...query execution took: 0.46 seconds...
(160568, 2)
(263515, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 39000 and from_word_group_id < 40000;
...query execution took: 8.31 seconds...
(499676, 2)
(840516, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 40000 and to_word_group_id < 41000;
...query execution took: 1.91 seconds...
(472135, 2)
(792567, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 40000 and from_word_group_id < 41000;
...query execution took: 8.3 seconds...
(408594, 2)
(677954, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 41000 and to_word_group_id < 42000;
...query execution took: 2.66 seconds...
(537636, 2)
(843242, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 41000 and from_word_group_id < 42000;
...query execution took: 7.52 seconds...
(385598, 2)
(656805, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 42000 and to_word_group_id < 43000;
...query execution took: 0.63 seconds...
(220537, 2)
(309784, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 42000 and from_word_group_id < 43000;
...query execution took: 8.99 seconds...
(587126, 2)
(973631, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 43000 and to_word_group_id < 44000;
...query execution took: 1.36 seconds...
(425513, 2)
(628678, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 43000 and from_word_group_id < 44000;
...query execution took: 4.22 seconds...
(267303, 2)
(484118, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 44000 and to_word_group_id < 45000;
...query execution took: 1.43 seconds...
(476516, 2)
(668627, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 44000 and from_word_group_id < 45000;
...query execution took: 4.64 seconds...
(276221, 2)
(445708, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 45000 and to_word_group_id < 46000;
...query execution took: 0.9 seconds...
(323610, 2)
(618782, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 45000 and from_word_group_id < 46000;
...query execution took: 4.57 seconds...
(304949, 2)
(495095, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 46000 and to_word_group_id < 47000;
...query execution took: 1.29 seconds...
(405011, 2)
(844665, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 46000 and from_word_group_id < 47000;
...query execution took: 5.97 seconds...
(247957, 2)
(451753, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 47000 and to_word_group_id < 48000;
...query execution took: 0.92 seconds...
(220489, 2)
(467095, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 47000 and from_word_group_id < 48000;
...query execution took: 6.89 seconds...
(313331, 2)
(565769, 4)
#### TO WORDS

In [11]:
wg_df.head()

Empty DataFrame
Columns: [from_word_group_id, to_word_group_id, from_word_id, to_word_id]
Index: []

In [12]:
# select the list of words
sql = 'select * from words;'
word_df = query_db(sql = sql, db_path=rc.db_path, db_name=rc.db_name)

...query execution took: 1.65 seconds...

In [13]:
word_df.head()

,word,lcase,n_chars,first_letter,word_id,word_group_id,letter_group,letter_group_ranked
0,A,a,1,a,0,0,a,a
1,aa,aa,2,a,1,1,a,a
2,aal,aal,3,a,2,2,al,la
3,aalii,aalii,5,a,3,3,ail,lai
4,aam,aam,3,a,4,4,am,ma

In [14]:
word_df['n_from_words'] = word_df['word_id'].map(from_word_counter)
word_df['n_to_words'] = word_df['word_id'].map(to_word_counter)

In [15]:
word_df.shape

(234370, 10)

In [ ]:
# add in the counts of from_word_group_id and to_word_group_id
# the columns in words_me_0* are all the same
sql = 'select word_group_id, n_from_word_groups, n_to_word_groups from words_me_05;'
word_group_df = query_db(sql = sql, db_path=rc.db_path, db_name=rc.db_name)

...query execution took: 0.74 seconds...

In [17]:
output_df = pd.merge(left = word_df, right = word_group_df)

In [18]:
output_df.shape

(234370, 12)

In [19]:
# sum of parent/child word relationships
output_df['n_from_words'].sum()

123758418

In [20]:
# sum of parent/child word relationships
output_df['n_to_words'].sum()

123758418

In [ ]:
# sum of parent/child word group relationships: by from word groups
word_group_df['n_from_word_groups'].sum()

73218235

In [ ]:
# sum of parent/child word relationships: by to word groups
word_group_df['n_to_word_groups'].sum()

73218235

In [ ]:
# this is also the number of rows in the anagram group table

In [24]:
write_data_to_sqlite(df = output_df, table_name='word_counts', db_path=rc.db_path, db_name=rc.db_name)

...now writing: word_counts