# Find anagrams: part 11
# Get the parent / child words of the top 5 word groups by character length
Mike Babb  
babb.mike@outlook.com

In [1]:
# standard libraries
from collections import Counter
import os
import sqlite3

In [2]:
# external
import json
import pandas as pd

In [3]:
# custom
import _run_constants as rc
from part_00_file_db_utils import query_db
from part_00_process_functions import *

# Word counts by word group

In [4]:
# join in word_group_id
sql = 'select * from word_counts;'
word_df = query_db(sql = sql, db_path=rc.DB_PATH, db_name=rc.DB_NAME)

...query execution took: 2.1 seconds...

In [5]:
word_df.head()

,word,lcase,n_chars,first_letter,word_id,word_group_id,letter_group,letter_group_ranked,n_from_words,n_to_words,n_from_word_groups,n_to_word_groups
0,A,a,1,a,0,0,a,a,144511,1,133001,1
1,aa,aa,2,a,1,1,a,a,45451,2,43229,2
2,aal,aal,3,a,2,2,al,la,24276,7,23271,5
3,aalii,aalii,5,a,3,3,ail,lai,5358,15,5263,11
4,aam,aam,3,a,4,4,am,ma,14107,7,13497,5

In [6]:
# turn this into the word_group_df
col_names = ['word_group_id', 'lcase']
wg_df = word_df.sort_values(by = col_names).drop_duplicates(subset = 'word_group_id').copy()

# dictionary of words!
word_group_dict = {wg_id:word for wg_id, word in zip(wg_df['word_group_id'],
                                                     wg_df['lcase'])}

In [7]:
wg_df.head()

,word,lcase,n_chars,first_letter,word_id,word_group_id,letter_group,letter_group_ranked,n_from_words,n_to_words,n_from_word_groups,n_to_word_groups
0,A,a,1,a,0,0,a,a,144511,1,133001,1
1,aa,aa,2,a,1,1,a,a,45451,2,43229,2
2,aal,aal,3,a,2,2,al,la,24276,7,23271,5
3,aalii,aalii,5,a,3,3,ail,lai,5358,15,5263,11
4,aam,aam,3,a,4,4,am,ma,14107,7,13497,5

In [8]:
wg_df.shape

(215842, 12)

# the top five words by from/to status by character length

In [9]:
# ranks for words
wg_df['n_from_rank'] = wg_df[['n_chars', 'n_from_words']].groupby(['n_chars']).rank(method = 'first', ascending=False)
wg_df['n_to_rank'] = wg_df[['n_chars', 'n_to_words']].groupby(['n_chars']).rank(method = 'first',ascending=False)

# melt to get the word count
wc_df = pd.melt(frame = wg_df, id_vars = ['word_id', 'word_group_id', 'lcase', 'n_chars'],
                  value_vars = ['n_from_words','n_to_words'],
                  var_name = 'direction', value_name = 'n_words')
				  
# word count				  
recode_dict = {'n_from_words':'from',
               'n_to_words':'to'}

wc_df['direction'] = wc_df['direction'].map(recode_dict)			   
				  
# melt to get the ranks
rank_df = pd.melt(frame = wg_df, id_vars = ['word_id', 'word_group_id', 'lcase', 'n_chars'],
                  value_vars = ['n_from_rank','n_to_rank'],
                  var_name = 'direction', value_name = 'word_rank')			  
				  
recode_dict = {'n_from_rank':'from',
               'n_to_rank':'to'}

rank_df['direction'] = rank_df['direction'].map(recode_dict)		   
				  				  
# overwrite the wg_df by joining
wg_df = pd.merge(left = wc_df, right = rank_df)

In [10]:
wg_df.head()

   word_id  word_group_id  lcase  n_chars direction  n_words  word_rank
0        0              0      a        1      from   144511        3.0
1        1              1     aa        2      from    45451       30.0
2        2              2    aal        3      from    24276      110.0
3        3              3  aalii        5      from     5358      757.0
4        4              4    aam        3      from    14107      284.0

In [11]:
# select the top 5
curr_wg_df = wg_df.loc[wg_df['word_rank'] <= 5, :].copy()

In [12]:
curr_wg_df.shape

(240, 7)

In [13]:
# count how many words are in each word group
word_group_id_counter = Counter(word_df['word_group_id'])

In [14]:
curr_wg_df['word_group_size'] = curr_wg_df['word_group_id'].map(word_group_id_counter)

In [15]:
curr_wg_df.head()

,word_id,word_group_id,lcase,n_chars,direction,n_words,word_rank,word_group_size
0,0,0,a,1,from,144511,3.0,1
1194,1212,1194,acetoin,7,from,5188,3.0,5
2024,2054,2024,actioner,8,from,3206,1.0,5
2989,3028,2989,ae,2,from,91948,3.0,2
3092,3133,3092,aer,3,from,55024,1.0,5

In [ ]:
# sort, select columns, and save to disk
# this is the data that populates the grid
curr_wg_df['word_rank'] = curr_wg_df['word_rank'].round(0).astype(int)

curr_wg_df = curr_wg_df.sort_values(by = ['n_chars', 'lcase'])
temp_output_df = curr_wg_df[['lcase', 'n_chars', 'direction', 'n_words', 'word_rank', 'word_group_size']]

temp_output_df.columns = ['word', 'number of characters','direction', 'number of words', 'word rank', 'word group size']
temp_output_df.to_json('../media/finding_anagrams/words/words.json',orient='records')

# generate the list of words for each word group

In [17]:
curr_wg_df.shape

(240, 8)

In [18]:
curr_wg_df.head()

,word_id,word_group_id,lcase,n_chars,direction,n_words,word_rank,word_group_size
0,0,0,a,1,from,144511,3,1
215842,0,0,a,1,to,1,1,1
232355,16974,16513,b,1,to,1,2,1
242718,27937,26876,c,1,to,1,3,1
261526,47720,45684,d,1,to,1,4,1

In [19]:
# create the from word id df
sql = 'select word_group_id, word_id, lcase, n_chars from words;'
fw_df = query_db(sql = sql, db_path=rc.DB_PATH, db_name=rc.DB_NAME)
fw_df.columns = ['from_word_group_id', 'from_word_id', 'from_word', 'from_n_chars']

# create the to word id df
sql = 'select word_group_id, word_id, lcase, n_chars from words;'
tw_df = query_db(sql = sql, db_path=rc.DB_PATH, db_name=rc.DB_NAME)
tw_df.columns = ['to_word_group_id', 'to_word_id', 'to_word', 'to_n_chars']

...query execution took: 0.79 seconds...
...query execution took: 0.8 seconds...

In [ ]:
# output path to save the generated word lists
word_list_output_path = '../media/finding_anagrams/wordlists'

In [23]:
test_word = 'formaldehydesulphoxylate'
wg_id = word_df.loc[word_df['lcase'] == test_word, 'word_group_id'].iloc[0]
wg_id

69032

In [24]:
pw_df = build_list_of_parent_words(word_group_id=wg_id, db_path=rc.DB_PATH, db_name=rc.DB_NAME)
print(pw_df.shape)
cw_df = build_list_of_child_words(word_group_id=wg_id, db_path=rc.DB_PATH, db_name=rc.DB_NAME)
print(cw_df.shape)

...query execution took: 0.0 seconds...
...query execution took: 0.67 seconds...
(1, 6)
...query execution took: 0.08 seconds...
...query execution took: 0.61 seconds...
(8214, 4)
      to_word_id  to_word_group_id to_word  from_word_group_id
8209      233399            214926    yule               69032
8210      233402            214929    yuma               69032
8211      233412            214938    yurt               69032
8212      233413            214939   yurta               69032
8213      233421            214947     yus               69032
(8214, 6)

In [25]:
pw_df.head()

,from_word_id,to_word_id,from_word_group_id,to_word_group_id,from_word,to_word
0,72186,72186,69032,69032,formaldehydesulphoxylate,formaldehydesulphoxylate

In [26]:
pw_df.shape

(1, 6)

In [27]:
cw_df.shape

(8214, 6)

In [28]:
# counters
to_word_counter = Counter()
from_word_counter = Counter()
for i_c, row in curr_wg_df.iterrows():
    
    # the current word
    curr_word_group_id = row['word_group_id']
    curr_word = word_group_dict[curr_word_group_id]        

    if row['direction'] == 'from':
        print('####', curr_word, 'FROM WORDS')
        
        pw_df = build_list_of_parent_words(word_group_id=curr_word_group_id,
                                          db_path = rc.DB_PATH, db_name = rc.DB_NAME)               
                
        # save it
        format_and_save_words_json(df = pw_df, r_direction='from',
                                   curr_word=curr_word, output_path=word_list_output_path)
        

        # distinct to words
        to_word_counter.update(pw_df['from_word_id'])


    if row['direction'] == 'to':
        print('####', curr_word, 'TO WORDS')        
        
        cw_df = build_list_of_child_words(word_group_id=curr_word_group_id,
                                          db_path = rc.DB_PATH, db_name = rc.DB_NAME)        
        
        # save it
        format_and_save_words_json(df = cw_df, r_direction='to',
                                   curr_word=curr_word, output_path=word_list_output_path)
        
        # distinct from words
        from_word_counter.update(cw_df['to_word_id'])

#### a FROM WORDS
...query execution took: 0.31 seconds...
...query execution took: 0.67 seconds...
#### a TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.63 seconds...
(1, 4)
   to_word_id  to_word_group_id to_word  from_word_group_id
0           0                 0       a                   0
#### b TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.58 seconds...
(1, 4)
   to_word_id  to_word_group_id to_word  from_word_group_id
0       16974             16513       b               16513
#### c TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.62 seconds...
(1, 4)
   to_word_id  to_word_group_id to_word  from_word_group_id
0       27937             26876       c               26876
#### d TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.61 seconds...
(1, 4)
   to_word_id  to_word_group_id to_word  from_word_group_id
0       47720             45684       d               45684
#### e FROM WORDS
...query execution took: 0.31 seconds...
...query execution took: 0.69 seconds...
#### e TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.75 seconds...
(1, 4)
   to_word_id  to_word_group_id to_word  from_word_group_id
0       58569             56000       e               56000
#### i FROM WORDS
...query execution took: 0.37 seconds...
...query execution took: 0.69 seconds...
#### o FROM WORDS
...query execution took: 0.28 seconds...
...query execution took: 0.65 seconds...
#### r FROM WORDS
...query execution took: 0.28 seconds...
...query execution took: 0.72 seconds...
#### ab TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.72 seconds...
(4, 4)
   to_word_id  to_word_group_id to_word  from_word_group_id
0           0                 0       a                  14
1          14                14      ab                  14
2       16974             16513       b                  14
3       16975                14      ba                  14
#### ad TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.64 seconds...
(4, 4)
   to_word_id  to_word_group_id to_word  from_word_group_id
0           0                 0       a                2135
1        2165              2135      ad                2135
2       47720             45684       d                2135
3       47721              2135      da                2135
#### ae FROM WORDS
...query execution took: 0.2 seconds...
...query execution took: 0.65 seconds...
#### ae TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.67 seconds...
(4, 4)
   to_word_id  to_word_group_id to_word  from_word_group_id
0           0                 0       a                2989
1        3028              2989      ae                2989
2       58569             56000       e                2989
3       58570              2989      ea                2989
#### ah TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.65 seconds...
(4, 4)
   to_word_id  to_word_group_id to_word  from_word_group_id
0           0                 0       a                4192
1        4249              4192      ah                4192
2       80879             77097       h                4192
3       80880              4192      ha                4192
#### ai FROM WORDS
...query execution took: 0.2 seconds...
...query execution took: 0.63 seconds...
#### ak TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.64 seconds...
(4, 4)
   to_word_id  to_word_group_id to_word  from_word_group_id
0           0                 0       a                4420
1        4478              4420      ak                4420
2      100260             95692       k                4420
3      100261              4420      ka                4420
#### er FROM WORDS
...query execution took: 0.19 seconds...
...query execution took: 0.64 seconds...
#### ie FROM WORDS
...query execution took: 0.2 seconds...
...query execution took: 0.64 seconds...
#### te FROM WORDS
...query execution took: 0.18 seconds...
...query execution took: 0.65 seconds...
#### aer FROM WORDS
...query execution took: 0.13 seconds...
...query execution took: 0.62 seconds...
#### aer TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.67 seconds...
(14, 4)
    to_word_id  to_word_group_id to_word  from_word_group_id
9        63792              3092     era                3092
10      161301            151804       r                3092
11      161302             11853      ra                3092
12      162627             60945      re                3092
13      162628              3092     rea                3092
#### aes TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.64 seconds...
(12, 4)
    to_word_id  to_word_group_id to_word  from_word_group_id
7        64245             61363      es                3273
8       170914            159362       s                3273
9       170915             13508      sa                3273
10      175214             61363      se                3273
11      175215              3273     sea                3273
#### ait TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.64 seconds...
(12, 4)
    to_word_id  to_word_group_id to_word  from_word_group_id
7        98495              4390     ita                4390
8       195843            181538       t                4390
9       195844             14490      ta                4390
10      196219              4390     tai                4390
11      201720             93982      ti                4390
#### amy TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.64 seconds...
(13, 4)
    to_word_id  to_word_group_id to_word  from_word_group_id
8       120513              7151     mya                7151
9       232765            214426       y                7151
10      232766             16341      ya                7151
11      232846              7151     yam                7151
12      233198            113942      ym                7151
#### ate FROM WORDS
...query execution took: 0.11 seconds...
...query execution took: 0.62 seconds...
#### ate TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.65 seconds...
(13, 4)
    to_word_id  to_word_group_id to_word  from_word_group_id
8       195843            181538       t               14537
9       195844             14490      ta               14537
10      196118             14537     tae               14537
11      197657            182936      te               14537
12      197658             14537     tea               14537
#### ire FROM WORDS
...query execution took: 0.11 seconds...
...query execution took: 0.62 seconds...
#### nei FROM WORDS
...query execution took: 0.12 seconds...
...query execution took: 0.66 seconds...
#### tie FROM WORDS
...query execution took: 0.12 seconds...
...query execution took: 0.64 seconds...
#### aery TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.66 seconds...
(31, 4)
    to_word_id  to_word_group_id to_word  from_word_group_id
26      233000             64220      ye                3272
27      233001             16346     yea                3272
28      233006              3272    year                3272
29      233115            159348     yer                3272
30      233356            214887      yr                3272
#### aire FROM WORDS
...query execution took: 0.06 seconds...
...query execution took: 0.66 seconds...
#### ante TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.63 seconds...
(34, 4)
    to_word_id  to_word_group_id to_word  from_word_group_id
29      196671              9026    tane                9026
30      197657            182936      te                9026
31      197658             14537     tea                9026
32      197723              9026    tean                9026
33      198498            116002     ten                9026
#### arse TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.65 seconds...
(31, 4)
    to_word_id  to_word_group_id to_word  from_word_group_id
26      175214             61363      se               13144
27      175215              3273     sea               13144
28      175299             13144    sear               13144
29      177492             61211     ser               13144
30      177493             13144    sera               13144
#### ates TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.67 seconds...
(31, 4)
    to_word_id  to_word_group_id to_word  from_word_group_id
26      195843            181538       t               14568
27      195844             14490      ta               14568
28      196118             14537     tae               14568
29      197657            182936      te               14568
30      197658             14537     tea               14568
#### itea FROM WORDS
...query execution took: 0.07 seconds...
...query execution took: 0.68 seconds...
#### iten FROM WORDS
...query execution took: 0.08 seconds...
...query execution took: 0.63 seconds...
#### iter FROM WORDS
...query execution took: 0.07 seconds...
...query execution took: 0.63 seconds...
#### rate FROM WORDS
...query execution took: 0.07 seconds...
...query execution took: 0.65 seconds...
#### rate TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.65 seconds...
(32, 4)
    to_word_id  to_word_group_id to_word  from_word_group_id
27      197657            182936      te              152622
28      197658             14537     tea              152622
29      197730            152622    tear              152622
30      198819            152622    tera              152622
31      203926             13217     tra              152622
#### antes TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.65 seconds...
(68, 4)
    to_word_id  to_word_group_id to_word  from_word_group_id
63      196671              9026    tane                9202
64      197657            182936      te                9202
65      197658             14537     tea                9202
66      197723              9026    tean                9202
67      198498            116002     ten                9202
#### antre TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.67 seconds...
(69, 4)
    to_word_id  to_word_group_id to_word  from_word_group_id
64      198819            152622    tera               10659
65      199001            155190    tern               10659
66      199002             10659   terna               10659
67      203926             13217     tra               10659
68      204339            115080    tran               10659
#### arite FROM WORDS
...query execution took: 0.04 seconds...
...query execution took: 0.64 seconds...
#### armet TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.68 seconds...
(70, 4)
    to_word_id  to_word_group_id to_word  from_word_group_id
65      198938             12921   terma               12921
66      203926             13217     tra               12921
67      204296            105258    tram               12921
68      204300             12921   trame               12921
69      205122             12921   trema               12921
#### aster TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.67 seconds...
(73, 4)
    to_word_id  to_word_group_id to_word  from_word_group_id
68      197730            152622    tear               14219
69      198819            152622    tera               14219
70      198825             14219   teras               14219
71      203926             13217     tra               14219
72      207220            160819    tsar               14219
#### entia FROM WORDS
...query execution took: 0.04 seconds...
...query execution took: 0.65 seconds...
#### erian FROM WORDS
...query execution took: 0.04 seconds...
...query execution took: 0.65 seconds...
#### inert FROM WORDS
...query execution took: 0.04 seconds...
...query execution took: 0.65 seconds...
#### least TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.64 seconds...
(70, 4)
    to_word_id  to_word_group_id to_word  from_word_group_id
65      196376             14701    tale               99382
66      196394             99382   tales               99382
67      197657            182936      te               99382
68      197658             14537     tea               99382
69      197703             14701    teal               99382
#### niota FROM WORDS
...query execution took: 0.04 seconds...
...query execution took: 0.64 seconds...
#### areito FROM WORDS
...query execution took: 0.02 seconds...
...query execution took: 0.63 seconds...
#### aroint FROM WORDS
...query execution took: 0.02 seconds...
...query execution took: 0.64 seconds...
#### atoner FROM WORDS
...query execution took: 0.03 seconds...
...query execution took: 0.66 seconds...
#### imaret TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.74 seconds...
(148, 4)
     to_word_id  to_word_group_id to_word  from_word_group_id
143      204296            105258    tram               86638
144      204300             12921   trame               86638
145      205122             12921   trema               86638
146      205266            157926     tri               86638
147      205997            189986    trim               86638
#### isleta TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.64 seconds...
(144, 4)
     to_word_id  to_word_group_id to_word  from_word_group_id
139      201720             93982      ti               93485
140      201862            186524     tie               93485
141      201958            101309     til               93485
142      201965            101316    tile               93485
143      207235             14682    tsia               93485
#### nerita FROM WORDS
...query execution took: 0.02 seconds...
...query execution took: 0.67 seconds...
#### nerita TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.65 seconds...
(149, 4)
     to_word_id  to_word_group_id to_word  from_word_group_id
144      204246            157516   train              115924
145      204339            115080    tran              115924
146      205266            157926     tri              115924
147      206058            190040    trin              115924
148      206066             89108   trine              115924
#### norite FROM WORDS
...query execution took: 0.02 seconds...
...query execution took: 0.64 seconds...
#### paster TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.64 seconds...
(146, 4)
     to_word_id  to_word_group_id to_word  from_word_group_id
141      203926             13217     tra              131174
142      204876            130889    trap              131174
143      204881            131174  trapes              131174
144      204919            171167   traps              131174
145      207220            160819    tsar              131174
#### satire TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.64 seconds...
(150, 4)
     to_word_id  to_word_group_id to_word  from_word_group_id
145      203926             13217     tra              160904
146      205266            157926     tri              160904
147      205352             12811   trias              160904
148      207220            160819    tsar              160904
149      207235             14682    tsia              160904
#### acetoin FROM WORDS
...query execution took: 0.01 seconds...
...query execution took: 0.66 seconds...
#### aletris TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.67 seconds...
(303, 4)
     to_word_id  to_word_group_id to_word  from_word_group_id
298      205266            157926     tri                4943
299      205300            101512   trial                4943
300      205352             12811   trias                4943
301      207220            160819    tsar                4943
302      207235             14682    tsia                4943
#### artemis TO WORDS
...query execution took: 0.01 seconds...
...query execution took: 0.68 seconds...
(290, 4)
     to_word_id  to_word_group_id to_word  from_word_group_id
285      205266            157926     tri               13225
286      205352             12811   trias               13225
287      205997            189986    trim               13225
288      207220            160819    tsar               13225
289      207235             14682    tsia               13225
#### asterin TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.67 seconds...
(307, 4)
     to_word_id  to_word_group_id to_word  from_word_group_id
302      206058            190040    trin               14229
303      206066             89108   trine               14229
304      207220            160819    tsar               14229
305      207235             14682    tsia               14229
306      207238             90335   tsine               14229
#### cerotin FROM WORDS
...query execution took: 0.01 seconds...
...query execution took: 0.65 seconds...
#### elastin TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.68 seconds...
(290, 4)
     to_word_id  to_word_group_id to_word  from_word_group_id
285      202180             59452  tineal               57068
286      202261             59245  tinsel               57068
287      202417            160896  tisane               57068
288      207235             14682    tsia               57068
289      207238             90335   tsine               57068
#### entrail FROM WORDS
...query execution took: 0.01 seconds...
...query execution took: 0.67 seconds...
#### erotica FROM WORDS
...query execution took: 0.01 seconds...
...query execution took: 0.68 seconds...
#### otarine FROM WORDS
...query execution took: 0.02 seconds...
...query execution took: 0.64 seconds...
#### piaster TO WORDS
...query execution took: 0.0 seconds...
...query execution took: 0.66 seconds...
(294, 4)
     to_word_id  to_word_group_id to_word  from_word_group_id
289      205352             12811   trias              136845
290      206174            190130    trip              136845
291      206189            133792   tripe              136845
292      207220            160819    tsar              136845
293      207235             14682    tsia              136845
#### actioner FROM WORDS
...query execution took: 0.01 seconds...
...query execution took: 0.7 seconds...
#### arsonite FROM WORDS
...query execution took: 0.01 seconds...
...query execution took: 0.64 seconds...
#### calorite FROM WORDS
...query execution took: 0.01 seconds...
...query execution took: 0.64 seconds...
#### entrails TO WORDS
...query execution took: 0.01 seconds...
...query execution took: 0.68 seconds...
(559, 4)
     to_word_id  to_word_group_id to_word  from_word_group_id
554      206060            190042  trinal               59760
555      206066             89108   trine               59760
556      207220            160819    tsar               59760
557      207235             14682    tsia               59760
558      207238             90335   tsine               59760
#### epistlar TO WORDS
...query execution took: 0.01 seconds...
...query execution took: 0.67 seconds...
(561, 4)
     to_word_id  to_word_group_id to_word  from_word_group_id
556      206189            133792   tripe               60527
557      206191            190145  tripel               60527
558      206243            190145  triple               60527
559      207220            160819    tsar               60527
560      207235             14682    tsia               60527

In [29]:
wg_df.head()

   word_id  word_group_id  lcase  n_chars direction  n_words  word_rank
0        0              0      a        1      from   144511        3.0
1        1              1     aa        2      from    45451       30.0
2        2              2    aal        3      from    24276      110.0
3        3              3  aalii        5      from     5358      757.0
4        4              4    aam        3      from    14107      284.0

In [30]:
word_df.head()

,word,lcase,n_chars,first_letter,word_id,word_group_id,letter_group,letter_group_ranked,n_from_words,n_to_words,n_from_word_groups,n_to_word_groups
0,A,a,1,a,0,0,a,a,144511,1,133001,1
1,aa,aa,2,a,1,1,a,a,45451,2,43229,2
2,aal,aal,3,a,2,2,al,la,24276,7,23271,5
3,aalii,aalii,5,a,3,3,ail,lai,5358,15,5263,11
4,aam,aam,3,a,4,4,am,ma,14107,7,13497,5

In [31]:
# the letters in the top five from words by word length can be found in:
print(len(from_word_counter)) 
# which is:
print(len(from_word_counter) / word_df.shape[0])
# of words

101632
0.4336391176345095

In [ ]:
# the letters in the top five to words by word length can be rearraged to spell:
print(len(to_word_counter))
# which is:
print(len(to_word_counter) / word_df.shape[0])
# of words

233233
0.9951486965055254

In [33]:
# what letters are represented?
from_letter_counter = Counter()
to_letter_counter = Counter()

In [34]:
for ir, row in curr_wg_df.iterrows():
    if row['direction'] == 'from':
        from_letter_counter.update(row['lcase'])
    if row['direction'] == 'to':
        to_letter_counter.update(row['lcase'])

In [35]:
from string import ascii_lowercase

In [36]:
from_letter_counter

Counter({'o': 209,
         'a': 142,
         'i': 140,
         't': 139,
         'e': 117,
         'r': 104,
         'c': 92,
         'n': 91,
         'l': 86,
         'h': 85,
         'p': 76,
         's': 52,
         'm': 40,
         'g': 37,
         'y': 35,
         'd': 23,
         'u': 14,
         'b': 7,
         'f': 4,
         'z': 2,
         'x': 2,
         'q': 1,
         'j': 1,
         'v': 1})

In [37]:
set(ascii_lowercase).difference(from_letter_counter.keys())

{'k', 'w'}

In [38]:
curr_wg_df.shape

(240, 8)

In [39]:
set(ascii_lowercase).difference(to_letter_counter.keys())

{'q', 'w'}

In [40]:
to_letter_counter

Counter({'a': 159,
         'e': 150,
         'i': 126,
         't': 122,
         'o': 119,
         'r': 112,
         's': 104,
         'l': 97,
         'n': 90,
         'c': 79,
         'p': 78,
         'u': 53,
         'h': 51,
         'm': 45,
         'd': 32,
         'g': 28,
         'y': 26,
         'b': 18,
         'v': 3,
         'f': 3,
         'z': 2,
         'k': 1,
         'j': 1,
         'x': 1})

In [1]:
157437 / 234370

0.6717455305713188