# Find anagrams - Part 10
# Create the count of parent / child words by word - not just word group
Mike Babb  
babb.mike@outlook.com

In [1]:
# standard
from collections import Counter
import os
import sqlite3

In [2]:
# external
import pandas as pd

In [3]:
# custom
import _run_constants as rc
from part_00_file_db_utils import query_db, write_data_to_sqlite

# Libraries

In [4]:
db_path_name = os.path.join(rc.DB_PATH, rc.DB_NAME)

In [5]:
# break up the sql calls into batches of 1000 word groups
cuts = list(range(0, 217001, 1000))

In [6]:
# the from word id df
sql = 'select word_group_id, word_id from words;'
fw_df = query_db(sql = sql, db_path=rc.DB_PATH, db_name=rc.DB_NAME)
fw_df.columns = ['from_word_group_id', 'from_word_id']

# the to word id df
sql = 'select word_group_id, word_id from words;'
tw_df = query_db(sql = sql, db_path=rc.DB_PATH, db_name=rc.DB_NAME)
tw_df.columns = ['to_word_group_id', 'to_word_id']

...query execution took: 0.94 seconds...
...query execution took: 0.78 seconds...

In [7]:
# counters
to_word_counter = Counter()
from_word_counter = Counter()
# enumerate the cuts, send to the SQLiteDB, get the data, and aggregate
for i_c, ii in enumerate(cuts[:-1]):
    print('#### TO WORDS')
    # to words
    sql = f'select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= {ii} and to_word_group_id < {cuts[i_c+ 1]};'
    
    print(sql)
    wg_df = query_db(sql = sql, db_path=rc.DB_PATH, db_name=rc.DB_NAME)
    print(wg_df.shape)
    # exapnd the from words
    wg_df = pd.merge(left = wg_df, right = fw_df)
    # expand the to words
    wg_df = pd.merge(left = wg_df, right = tw_df)
    
    wg_df = wg_df.drop_duplicates()
    print(wg_df.shape)    

    # count - and this is where it gets counter intuitive.
    # The to word counts are counts of from-to word pairs
    from_word_counter.update(wg_df['to_word_id'])

    print('#### FROM WORDS')
    # from words
    sql = f'select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= {ii} and from_word_group_id < {cuts[i_c+ 1]};'
    print(sql)
    wg_df = query_db(sql = sql, db_path=rc.DB_PATH, db_name=rc.DB_NAME)
    print(wg_df.shape)
    wg_df = pd.merge(left = wg_df, right = fw_df)
    wg_df = pd.merge(left = wg_df, right = tw_df)
    

    wg_df = wg_df.drop_duplicates()
    print(wg_df.shape)

    # count each word id to get th
    # the from word counts is the from-to-wrd pairs
    to_word_counter.update(wg_df['from_word_id'])

#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 0 and to_word_group_id < 1000;
...query execution took: 2.85 seconds...
(646287, 2)
(1154306, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 0 and from_word_group_id < 1000;
...query execution took: 8.66 seconds...
(252990, 2)
(454175, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 1000 and to_word_group_id < 2000;
...query execution took: 2.76 seconds...
(665726, 2)
(1588737, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 1000 and from_word_group_id < 2000;
...query execution took: 6.98 seconds...
(366155, 2)
(661531, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 2000 and to_word_group_id < 3000;
...query execution took: 1.83 seconds...
(595726, 2)
(1398009, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 2000 and from_word_group_id < 3000;
...query execution took: 4.82 seconds...
(302992, 2)
(559997, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 3000 and to_word_group_id < 4000;
...query execution took: 1.49 seconds...
(504313, 2)
(1149542, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 3000 and from_word_group_id < 4000;
...query execution took: 3.92 seconds...
(255226, 2)
(474786, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 4000 and to_word_group_id < 5000;
...query execution took: 4.62 seconds...
(1526138, 2)
(3924130, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 4000 and from_word_group_id < 5000;
...query execution took: 2.92 seconds...
(190865, 2)
(383402, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 5000 and to_word_group_id < 6000;
...query execution took: 2.67 seconds...
(883644, 2)
(2183748, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 5000 and from_word_group_id < 6000;
...query execution took: 3.5 seconds...
(239842, 2)
(475585, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 6000 and to_word_group_id < 7000;
...query execution took: 1.7 seconds...
(582418, 2)
(1582496, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 6000 and from_word_group_id < 7000;
...query execution took: 4.26 seconds...
(286990, 2)
(516144, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 7000 and to_word_group_id < 8000;
...query execution took: 1.25 seconds...
(445387, 2)
(994464, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 7000 and from_word_group_id < 8000;
...query execution took: 5.23 seconds...
(352504, 2)
(637615, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 8000 and to_word_group_id < 9000;
...query execution took: 1.89 seconds...
(648240, 2)
(1525515, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 8000 and from_word_group_id < 9000;
...query execution took: 5.21 seconds...
(353243, 2)
(648185, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 9000 and to_word_group_id < 10000;
...query execution took: 0.42 seconds...
(149331, 2)
(464977, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 9000 and from_word_group_id < 10000;
...query execution took: 10.29 seconds...
(654395, 2)
(1112093, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 10000 and to_word_group_id < 11000;
...query execution took: 1.48 seconds...
(509073, 2)
(1052011, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 10000 and from_word_group_id < 11000;
...query execution took: 6.95 seconds...
(453433, 2)
(820727, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 11000 and to_word_group_id < 12000;
...query execution took: 1.41 seconds...
(506178, 2)
(983894, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 11000 and from_word_group_id < 12000;
...query execution took: 4.12 seconds...
(279564, 2)
(486626, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 12000 and to_word_group_id < 13000;
...query execution took: 2.59 seconds...
(866552, 2)
(2456423, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 12000 and from_word_group_id < 13000;
...query execution took: 5.84 seconds...
(389195, 2)
(704771, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 13000 and to_word_group_id < 14000;
...query execution took: 2.57 seconds...
(857232, 2)
(2197596, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 13000 and from_word_group_id < 14000;
...query execution took: 3.87 seconds...
(265705, 2)
(512032, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 14000 and to_word_group_id < 15000;
...query execution took: 2.48 seconds...
(846169, 2)
(2250632, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 14000 and from_word_group_id < 15000;
...query execution took: 4.25 seconds...
(289787, 2)
(553865, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 15000 and to_word_group_id < 16000;
...query execution took: 1.01 seconds...
(353493, 2)
(511525, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 15000 and from_word_group_id < 16000;
...query execution took: 6.07 seconds...
(408354, 2)
(650651, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 16000 and to_word_group_id < 17000;
...query execution took: 0.83 seconds...
(302687, 2)
(511310, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 16000 and from_word_group_id < 17000;
...query execution took: 3.03 seconds...
(219539, 2)
(373562, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 17000 and to_word_group_id < 18000;
...query execution took: 0.96 seconds...
(341426, 2)
(663261, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 17000 and from_word_group_id < 18000;
...query execution took: 2.15 seconds...
(164037, 2)
(310299, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 18000 and to_word_group_id < 19000;
...query execution took: 0.78 seconds...
(284011, 2)
(497209, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 18000 and from_word_group_id < 19000;
...query execution took: 2.96 seconds...
(212724, 2)
(387088, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 19000 and to_word_group_id < 20000;
...query execution took: 0.74 seconds...
(271009, 2)
(440150, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 19000 and from_word_group_id < 20000;
...query execution took: 1.6 seconds...
(127504, 2)
(221587, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 20000 and to_word_group_id < 21000;
...query execution took: 0.71 seconds...
(258739, 2)
(399135, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 20000 and from_word_group_id < 21000;
...query execution took: 2.23 seconds...
(168484, 2)
(291555, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 21000 and to_word_group_id < 22000;
...query execution took: 0.65 seconds...
(239802, 2)
(360227, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 21000 and from_word_group_id < 22000;
...query execution took: 2.9 seconds...
(205103, 2)
(349141, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 22000 and to_word_group_id < 23000;
...query execution took: 0.6 seconds...
(219088, 2)
(328420, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 22000 and from_word_group_id < 23000;
...query execution took: 4.69 seconds...
(341741, 2)
(564444, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 23000 and to_word_group_id < 24000;
...query execution took: 0.89 seconds...
(338675, 2)
(551533, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 23000 and from_word_group_id < 24000;
...query execution took: 1.89 seconds...
(144486, 2)
(253553, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 24000 and to_word_group_id < 25000;
...query execution took: 0.31 seconds...
(122294, 2)
(159168, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 24000 and from_word_group_id < 25000;
...query execution took: 4.32 seconds...
(312037, 2)
(526236, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 25000 and to_word_group_id < 26000;
...query execution took: 0.37 seconds...
(138508, 2)
(205814, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 25000 and from_word_group_id < 26000;
...query execution took: 2.97 seconds...
(220685, 2)
(368368, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 26000 and to_word_group_id < 27000;
...query execution took: 1.11 seconds...
(391447, 2)
(528315, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 26000 and from_word_group_id < 27000;
...query execution took: 1.87 seconds...
(144316, 2)
(235881, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 27000 and to_word_group_id < 28000;
...query execution took: 1.26 seconds...
(465108, 2)
(821591, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 27000 and from_word_group_id < 28000;
...query execution took: 3.54 seconds...
(245560, 2)
(442665, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 28000 and to_word_group_id < 29000;
...query execution took: 1.44 seconds...
(514958, 2)
(980720, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 28000 and from_word_group_id < 29000;
...query execution took: 3.78 seconds...
(258296, 2)
(467404, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 29000 and to_word_group_id < 30000;
...query execution took: 1.4 seconds...
(500020, 2)
(1012590, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 29000 and from_word_group_id < 30000;
...query execution took: 4.15 seconds...
(279669, 2)
(508239, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 30000 and to_word_group_id < 31000;
...query execution took: 1.69 seconds...
(590678, 2)
(867843, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 30000 and from_word_group_id < 31000;
...query execution took: 4.48 seconds...
(305261, 2)
(550611, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 31000 and to_word_group_id < 32000;
...query execution took: 1.37 seconds...
(494435, 2)
(942755, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 31000 and from_word_group_id < 32000;
...query execution took: 5.7 seconds...
(379964, 2)
(682822, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 32000 and to_word_group_id < 33000;
...query execution took: 0.94 seconds...
(353318, 2)
(628403, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 32000 and from_word_group_id < 33000;
...query execution took: 3.63 seconds...
(258657, 2)
(444573, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 33000 and to_word_group_id < 34000;
...query execution took: 0.95 seconds...
(326095, 2)
(547078, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 33000 and from_word_group_id < 34000;
...query execution took: 7.5 seconds...
(502915, 2)
(825499, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 34000 and to_word_group_id < 35000;
...query execution took: 0.97 seconds...
(340771, 2)
(565744, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 34000 and from_word_group_id < 35000;
...query execution took: 5.81 seconds...
(396833, 2)
(639672, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 35000 and to_word_group_id < 36000;
...query execution took: 1.78 seconds...
(619236, 2)
(1045358, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 35000 and from_word_group_id < 36000;
...query execution took: 3.37 seconds...
(230259, 2)
(411390, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 36000 and to_word_group_id < 37000;
...query execution took: 1.01 seconds...
(353625, 2)
(469241, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 36000 and from_word_group_id < 37000;
...query execution took: 3.39 seconds...
(231656, 2)
(381169, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 37000 and to_word_group_id < 38000;
...query execution took: 1.06 seconds...
(384895, 2)
(557175, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 37000 and from_word_group_id < 38000;
...query execution took: 3.83 seconds...
(262926, 2)
(446265, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 38000 and to_word_group_id < 39000;
...query execution took: 0.34 seconds...
(127169, 2)
(144042, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 38000 and from_word_group_id < 39000;
...query execution took: 7.34 seconds...
(469796, 2)
(760224, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 39000 and to_word_group_id < 40000;
...query execution took: 0.44 seconds...
(160730, 2)
(263683, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 39000 and from_word_group_id < 40000;
...query execution took: 7.52 seconds...
(499838, 2)
(840684, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 40000 and to_word_group_id < 41000;
...query execution took: 1.37 seconds...
(472288, 2)
(792720, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 40000 and from_word_group_id < 41000;
...query execution took: 6.0 seconds...
(408747, 2)
(678107, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 41000 and to_word_group_id < 42000;
...query execution took: 1.57 seconds...
(537778, 2)
(843392, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 41000 and from_word_group_id < 42000;
...query execution took: 5.85 seconds...
(385740, 2)
(656955, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 42000 and to_word_group_id < 43000;
...query execution took: 0.6 seconds...
(220809, 2)
(310062, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 42000 and from_word_group_id < 43000;
...query execution took: 8.62 seconds...
(587398, 2)
(973909, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 43000 and to_word_group_id < 44000;
...query execution took: 1.17 seconds...
(425631, 2)
(628799, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 43000 and from_word_group_id < 44000;
...query execution took: 4.06 seconds...
(267421, 2)
(484239, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 44000 and to_word_group_id < 45000;
...query execution took: 1.37 seconds...
(476647, 2)
(668758, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 44000 and from_word_group_id < 45000;
...query execution took: 4.05 seconds...
(276352, 2)
(445839, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 45000 and to_word_group_id < 46000;
...query execution took: 0.93 seconds...
(323774, 2)
(618958, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 45000 and from_word_group_id < 46000;
...query execution took: 4.47 seconds...
(305113, 2)
(495271, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 46000 and to_word_group_id < 47000;
...query execution took: 1.14 seconds...
(405134, 2)
(844791, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 46000 and from_word_group_id < 47000;
...query execution took: 3.46 seconds...
(248080, 2)
(451879, 4)
#### TO WORDS
select from_word_group_id, to_word_group_id from anagram_groups where to_word_group_id >= 47000 and to_word_group_id < 48000;
...query execution took: 0.6 seconds...
(220661, 2)
(467267, 4)
#### FROM WORDS
select from_word_group_id, to_word_group_id from anagram_groups where from_word_group_id >= 47000 and from_word_group_id < 48000;
...query execution took: 4.44 seconds...
(313503, 2)
(565941, 4)
#### TO WORDS

In [8]:
wg_df.head()

Empty DataFrame
Columns: [from_word_group_id, to_word_group_id, from_word_id, to_word_id]
Index: []

In [9]:
# select the list of words
sql = 'select * from words;'
word_df = query_db(sql = sql, db_path=rc.DB_PATH, db_name=rc.DB_NAME)

...query execution took: 1.19 seconds...

In [10]:
word_df.head()

,word,lcase,n_chars,first_letter,word_id,word_group_id,letter_group,letter_group_ranked
0,A,a,1,a,0,0,a,a
1,aa,aa,2,a,1,1,a,a
2,aal,aal,3,a,2,2,al,la
3,aalii,aalii,5,a,3,3,ail,lai
4,aam,aam,3,a,4,4,am,ma

In [11]:
word_df['n_from_words'] = word_df['word_id'].map(from_word_counter)
word_df['n_to_words'] = word_df['word_id'].map(to_word_counter)

In [12]:
word_df.shape

(234370, 10)

In [13]:
# add in the counts of from_word_group_id and to_word_group_id
# the columns in words_me_0* are all the same
sql = 'select word_group_id, n_from_word_groups, n_to_word_groups from words_me_05;'
word_group_df = query_db(sql = sql, db_path=rc.DB_PATH, db_name=rc.DB_NAME)

...query execution took: 0.56 seconds...

In [14]:
output_df = pd.merge(left = word_df, right = word_group_df)

In [15]:
output_df.shape

(234370, 12)

In [16]:
# sum of parent/child word relationships
output_df['n_from_words'].sum()

123798056

In [17]:
# sum of parent/child word relationships
output_df['n_to_words'].sum()

123798056

In [18]:
# sum of parent/child word group relationships: by from word groups
word_group_df['n_from_word_groups'].sum()

73218235

In [19]:
# sum of parent/child word relationships: by to word groups
word_group_df['n_to_word_groups'].sum()

73218235

In [20]:
# this is also the number of rows in the anagram group table

In [21]:
write_data_to_sqlite(df = output_df, table_name='word_counts', db_path=rc.DB_PATH, db_name=rc.DB_NAME)

...now writing: word_counts