In [1]:
# mike babb
# query the word matrix

In [20]:
import os
import string

In [3]:
import pandas as pd
import numpy as np

In [5]:
file_path = 'H:/project/finding_anagrams/data'

In [6]:
file_name = 'char_matrix.npy'

In [7]:
fpn = os.path.join(file_path, file_name)

In [8]:
char_matrix = np.load(file = fpn)

In [9]:
char_matrix.shape

(234370, 26)

In [10]:
# load the word df
file_name = 'word_df.csv'

In [11]:
fpn =  os.path.join(file_path, file_name)

In [13]:
dtype_dict = {'word': str,
              'lcase': str,
              'n_chars': int,
              'first_letter': str,
              'word_id': int,
              'word_group_id': int,
              'letter_group': str,
              'letter_group_ranked': str}

# read in the file and be careful of the NA and NULL values
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html
word_df = pd.read_csv(filepath_or_buffer = fpn, sep = '\t',header = 0,
                          dtype=dtype_dict, na_values = '!!', keep_default_na=False)

In [14]:
word_df.head()

,word,lcase,n_chars,first_letter,word_id,word_group_id,letter_group,letter_group_ranked
0,A,a,1,a,0,0,a,a
1,aa,aa,2,a,1,1,a,a
2,aal,aal,3,a,2,2,al,la
3,aalii,aalii,5,a,3,3,ail,lai
4,aam,aam,3,a,4,4,am,ma

In [38]:
letter_dict = {cl:i_cl for i_cl, cl in enumerate(string.ascii_lowercase)}

In [70]:
curr_letters = ["w",
"c",
"w",
"y",
"j"]

In [71]:
curr_query = [0] * 26

In [72]:
for cl in curr_letters:    
    curr_query[letter_dict[cl]] += 1

In [73]:
curr_query

[0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 1, 0]

In [74]:
 outcome = char_matrix - curr_query

In [75]:
outcome_indices = np.all(outcome >= 0, axis = 1)

In [76]:
potential_words = word_df.loc[outcome_indices, :].sort_values(by = ['n_chars', 'first_letter'])

In [77]:
potential_words.head()

Empty DataFrame
Columns: [word, lcase, n_chars, first_letter, word_id, word_group_id, letter_group, letter_group_ranked]
Index: []

In [68]:
potential_words.shape

(50, 8)