In [1]:
# check my matrix
import os
import numpy

In [2]:
import _run_constants as rc
from part_00_file_db_utils import *
from part_00_process_functions import *

In [3]:
word_df, wg_df, letter_dict, char_matrix, word_group_id_list, word_id_list, wchar_matrix = load_input_data(db_path=rc.DB_PATH,
                                                                                                               db_name=rc.DB_NAME,
                                                                                                               in_file_path=rc.DATA_OUTPUT_FILE_PATH)

...loading words into a dataframe...
...query execution took: 1.34 seconds...
...loading word groups into a dataframe...
...query execution took: 1.27 seconds...
...loading the letter dictionary...
...loading the char matrix...
...subsetting the char matrix...

In [4]:
char_matrix.shape

(234370, 26)

In [5]:
word_id_list.shape

(215842,)

In [6]:
word_group_id_list.shape

(215842,)

In [7]:
word_id_list

array([     0,      1,      2, ..., 234367, 234368, 234369], dtype=int64)

In [8]:
# how many words have anagrams

In [9]:
wg_df.shape

(215842, 9)

In [10]:
wg_df.head()

,word,lcase,n_chars,first_letter,word_id,word_group_id,letter_group,letter_group_ranked,word_group_count
0,A,a,1,a,0,0,a,a,1
1,aa,aa,2,a,1,1,a,a,1
2,aal,aal,3,a,2,2,al,la,2
3,aalii,aalii,5,a,3,3,ail,lai,1
4,aam,aam,3,a,4,4,am,ma,2

In [11]:
no_wg_df = wg_df.loc[wg_df['word_group_count'] == 1, :]

In [12]:
no_wg_df.shape

(201480, 9)

In [13]:
has_wg_df = wg_df.loc[wg_df['word_group_count'] > 1, :]

In [15]:
has_wg_df.shape

(14362, 9)

In [16]:
has_wg_df['word_group_count'].describe()

count    14362.000000
mean         2.290071
std          0.683526
min          2.000000
25%          2.000000
50%          2.000000
75%          2.000000
max         10.000000
Name: word_group_count, dtype: float64

In [27]:
has_wg_df.loc[has_wg_df['word_group_count'] == 10]

,word,lcase,n_chars,first_letter,word_id,word_group_id,letter_group,letter_group_ranked,word_group_count
8297,angor,angor,5,a,8468,8297,agnor,gnroa,10
57049,Elaps,elaps,5,e,59711,57049,aelps,plsae,10

In [17]:
no_wg_df.shape[0] + has_wg_df['word_group_count'].sum()

234370

In [19]:
has_wg_df.head(n=20)

,word,lcase,n_chars,first_letter,word_id,word_group_id,letter_group,letter_group_ranked,word_group_count
2,aal,aal,3,a,2,2,al,la,2
4,aam,aam,3,a,4,4,am,ma,2
9,Aaronic,aaronic,7,a,9,9,acinor,cnroai,3
11,Aaronite,aaronite,8,a,11,11,aeinort,tnroaie,2
13,Aaru,aaru,4,a,13,13,aru,ura,2
14,Ab,ab,2,a,14,14,ab,ba,2
15,aba,aba,3,a,15,15,ab,ba,2
18,abac,abac,4,a,18,18,abc,bca,2
30,abactor,abactor,7,a,30,30,abcort,bctroa,2
35,abaft,abaft,5,a,35,35,abft,fbta,2
41,abalone,abalone,7,a,41,41,abelno,blnoae,2
49,abandoner,abandoner,9,a,49,49,abdenor,bdnroae,2
51,Abanic,abanic,6,a,51,51,abcin,bcnai,2
55,Abaris,abaris,6,a,55,55,abirs,bsrai,2
59,abas,abas,4,a,59,59,abs,bsa,2
65,abaser,abaser,6,a,65,65,abers,bsrae,2
80,abate,abate,5,a,80,80,abet,btae,4
82,abater,abater,6,a,82,82,abert,btrae,4
94,abb,abb,3,a,94,94,ab,ba,2
95,Abba,abba,4,a,95,95,ab,ba,2

In [23]:
word_df.loc[word_df['word_group_id'] == 30, :]

,word,lcase,n_chars,first_letter,word_id,word_group_id,letter_group,letter_group_ranked
30,abactor,abactor,7,a,30,30,abcort,bctroa
1760,acrobat,acrobat,7,a,1760,30,abcort,bctroa

In [ ]:
outcome = set()
char_list = ['k', 'w']
word_count = {}
for cc in char_list:
    temp_outcome = wchar_matrix[:, letter_dict[cc]] == 0
    temp_outcome = word_group_id_list[temp_outcome]
    outcome.update(temp_outcome)
    
    temp_outcome = wchar_matrix[:, letter_dict[cc]] >= 1
    word_count[cc] = temp_outcome.sum()

In [ ]:
len(outcome) / wg_df.shape[0]

In [ ]:
word_count

In [ ]:

n_subset_letters = 3
matrix_extraction_option = 5
wg_df, n_char_matrix_dict, single_letter_matrix_dict, letter_selector_matrix_dict, nc_ls_matrix_dict, p_time = split_matrix(
    letter_dict=letter_dict,
    word_group_id_list=word_group_id_list,
    wg_df=wg_df,
    wchar_matrix=wchar_matrix,
    n_subset_letters=n_subset_letters,
    matrix_extraction_option=matrix_extraction_option
)

In [ ]:
test_keys = letter_selector_matrix_dict.keys()

In [ ]:
test_keys

In [ ]:
wg_df.shape

In [ ]:
wg_df.head()

In [ ]:
single_letter_matrix_dict.keys()

In [ ]:
testo = single_letter_matrix_dict[letter_dict['r']]

In [ ]:
len(testo)

In [ ]:
a1, a2 = testo

In [ ]:
a1.shape

In [ ]:
a2.shape

In [ ]:
flarcho = word_df.loc[word_df['word_group_id'].isin(a1), :]

In [ ]:
flarcho.shape

In [ ]:
18391 / 19346

In [ ]:
type(letter_selector_matrix_dict)

In [ ]:
type(nc_ls_matrix_dict)

In [ ]:
wg_df.head()

In [ ]:
wg_df.loc[(wg_df['first_letter'] == 'a') &
    (wg_df['letter_selector'].str[:1] == 'v'), ].shape

In [ ]:
wg_df.loc[(wg_df['first_letter'] == 'r') , ].shape

In [ ]:
wchar_matrix.sum(0)

In [ ]:
wchar_matrix.sum(0)[letter_dict['r']]

In [ ]:
wchar_matrix_single = wchar_matrix >= 1

In [ ]:
wchar_matrix_single.sum(0)[letter_dict['r']]

In [ ]:
import numpy as np
import timeit

In [ ]:
d1_size = 2387
d2_size = 16101

def make_dict(n):
    return {n:n for n in range(0, n + 1)}

d1 = make_dict(n = d1_size)
d2 = make_dict(n = d2_size)

In [ ]:
# now, perform some sampling to get the values
# 10K samples
rand_list = np.random.randint(low = 0, high = d1_size, size = 216000)

In [ ]:
code_statement = "[d1[n] for n in rand_list]"

timeit.timeit(stmt = code_statement, number=1000, globals=globals()) / 1000

In [ ]:
code_statement = "[d2[n] for n in rand_list]"
timeit.timeit(stmt = code_statement, number=1000, globals=globals()) / 1000

In [ ]:
for ii in zip([1,2):
    print(ii)