In [1]:
# mike babb
# 2022 02 25
# find the top wordle starting word

In [2]:
# standard
import os
import sqlite3

In [4]:
import pandas as pd
import numpy as np

In [5]:
from part_00_process_functions import query_db

In [6]:
# database path and name
db_path = '/project/finding_anagrams/db'
db_name = 'words.db'

In [11]:
# load all of the words
sql = 'select * from words_v2;'

In [12]:
df = query_db(sql = sql, db_path = db_path, db_name = db_name)

...query execution took: 2.758298 seconds...

In [13]:
df.head()

,word,lcase,n_chars,first_letter,word_id,word_group_id,letter_group,letter_group_ranked,n_seconds,n_from_word_groups,n_to_word_groups,n_candidates,word_processed,matrix_extraction_option
0,A,a,1,a,0,0,a,a,0.035973,133001,1,133001,1,5
1,aa,aa,2,a,1,1,a,a,0.045971,43229,2,133000,1,5
2,aal,aal,3,a,2,2,al,la,0.034979,23271,5,65527,1,5
3,ala,ala,3,a,4557,2,al,la,0.034979,23271,5,65527,0,5
4,aalii,aalii,5,a,3,3,ail,lai,0.006995,5263,11,42731,1,5

In [14]:
# let's go with the five letter words
wdf = df.loc[df['n_chars']==5, :]

In [15]:
len(wdf)

9972

In [ ]:
# convert to a matrix, load, do the thing